<a href="https://colab.research.google.com/github/vedangi2610/FHE-project-/blob/master/cosine_sim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import re
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/vedangi2610/FHE-project-/master/data_preprocessing/vocabPolitics.csv')
df.head()

df.rename( columns={'Unnamed: 0':'word'}, inplace=True )

wrd =[]
# for i in range(len(df)):
df.word = df.word.apply(lambda x: re.sub(r"[^a-z\s\(\-:\)\\\/\;=#]", '', x))

df.head()

        word  lemmas
0      trump    2852
1        say    1483
2               1207
3       pres    1141
4  president    1030

In [31]:
df['word'].replace('', np.nan, inplace=True)
df.dropna(subset=['word'], inplace=True)
df.reset_index(inplace = True)
df.head()

   index       word  lemmas
0      0      trump    2852
1      1        say    1483
2      3       pres    1141
3      4  president    1030
4      5      today    1023