<a href="https://colab.research.google.com/github/vedangi2610/FHE-project-/blob/master/TFIDF_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import pandas as pd
import sklearn as sk
import math

In [49]:
first_sentence = "Data Science is the sexiest job of the 21st century"
second_sentence = "machine learning science is the key for data science"
#split so each word have their own string
first_sentence=first_sentence.lower()
second_sentence=second_sentence.lower()
first_sentence = first_sentence.split(" ")
second_sentence = second_sentence.split(" ")#join them to remove common duplicate words
total= set(first_sentence).union(set(second_sentence))
print(total)

{'science', '21st', 'century', 'job', 'data', 'learning', 'is', 'for', 'machine', 'sexiest', 'of', 'key', 'the'}

In [50]:
wordDictA = dict.fromkeys(total, 0) 
wordDictB = dict.fromkeys(total, 0)
for word in first_sentence:
    wordDictA[word]+=1
    
for word in second_sentence:
    wordDictB[word]+=1

In [51]:
pd.DataFrame([wordDictA, wordDictB])

   science  21st  century  job  data  ...  machine  sexiest  of  key  the
0        1     1        1    1     1  ...        0        1   1    0    2
1        2     0        0    0     1  ...        1        0   0    1    1

[2 rows x 13 columns]

In [52]:
def computeTF(wordDict, doc):
    tfDict = {}
    corpusCount = len(doc)
    for word, count in wordDict.items():
        tfDict[word] = count/float(corpusCount)
    return(tfDict)
#running our sentences through the tf function:
tfFirst = computeTF(wordDictA, first_sentence)
tfSecond = computeTF(wordDictB, second_sentence)
#Converting to dataframe for visualization
tf = pd.DataFrame([tfFirst, tfSecond])

In [53]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
filtered_sentence = [w for w in wordDictA if not w in stop_words]
print(filtered_sentence)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
['science', '21st', 'century', 'job', 'data', 'learning', 'machine', 'sexiest', 'key']

In [54]:
def ComputeDF(word):
  allDocs=[first_sentence, second_sentence]
  num_docs_with_given_term = 0
  for doc in allDocs:
            
          """
          Putting a check if a term appears in a document.
          If term is present in the document, then 
          increment "num_docs_with_given_term" variable
          """
          if word.lower() in doc:
              num_docs_with_given_term += 1
  #print(num_docs_with_given_term)
  return (num_docs_with_given_term)

In [55]:

def computeIDF(docList):
    idfDict = {}
    N = len(docList)
    print(N)
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    print(idfDict)
    for word, val in idfDict.items():
        #print(word,val)
        val=ComputeDF(word)
        print(word,val)
        idfDict[word] = - (math.log10(N / (float(val) + 1)))
        
    print(idfDict)
    return(idfDict)
#inputing our sentences in the log file
idfs = computeIDF([wordDictA, wordDictB])

2
{'science': 0, '21st': 0, 'century': 0, 'job': 0, 'data': 0, 'learning': 0, 'is': 0, 'for': 0, 'machine': 0, 'sexiest': 0, 'of': 0, 'key': 0, 'the': 0}
science 2
21st 1
century 1
job 1
data 2
learning 1
is 2
for 1
machine 1
sexiest 1
of 1
key 1
the 2
{'science': 0.17609125905568127, '21st': -0.0, 'century': -0.0, 'job': -0.0, 'data': 0.17609125905568127, 'learning': -0.0, 'is': 0.17609125905568127, 'for': -0.0, 'machine': -0.0, 'sexiest': -0.0, 'of': -0.0, 'key': -0.0, 'the': 0.17609125905568127}

In [56]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]

    print(tfidf)
    return(tfidf)
#running our two sentences through the IDF:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)
#putting it in a dataframe
idf= pd.DataFrame([idfFirst, idfSecond])
print(idf)

{'science': 0.017609125905568127, '21st': -0.0, 'century': -0.0, 'job': -0.0, 'data': 0.017609125905568127, 'learning': -0.0, 'is': 0.017609125905568127, 'for': -0.0, 'machine': -0.0, 'sexiest': -0.0, 'of': -0.0, 'key': -0.0, 'the': 0.035218251811136254}
{'science': 0.039131390901262504, '21st': -0.0, 'century': -0.0, 'job': -0.0, 'data': 0.019565695450631252, 'learning': -0.0, 'is': 0.019565695450631252, 'for': -0.0, 'machine': -0.0, 'sexiest': -0.0, 'of': -0.0, 'key': -0.0, 'the': 0.019565695450631252}
    science  21st  century  job      data  ...  machine  sexiest   of  key       the
0  0.017609  -0.0     -0.0 -0.0  0.017609  ...     -0.0     -0.0 -0.0 -0.0  0.035218
1  0.039131  -0.0     -0.0 -0.0  0.019566  ...     -0.0     -0.0 -0.0 -0.0  0.019566

[2 rows x 13 columns]

In [12]:
#first step is to import the library
from sklearn.feature_extraction.text import TfidfVectorizer
#for the sentence, make sure all words are lowercase or you will run #into error. for simplicity, I just made the same sentence all #lowercase
firstV= "Data Science is the sexiest job of the 21st century"
secondV= "machine learning is the key for data science"
#calling the TfidfVectorizer
vectorize= TfidfVectorizer()
#fitting the model and passing our sentences right away:
response= vectorize.fit_transform([firstV, secondV])

In [13]:
print(response)

  (0, 1)	0.34211869506421816
  (0, 0)	0.34211869506421816
  (0, 9)	0.34211869506421816
  (0, 5)	0.34211869506421816
  (0, 11)	0.34211869506421816
  (0, 12)	0.48684053853849035
  (0, 4)	0.24342026926924518
  (0, 10)	0.24342026926924518
  (0, 2)	0.24342026926924518
  (1, 3)	0.40740123733358447
  (1, 6)	0.40740123733358447
  (1, 7)	0.40740123733358447
  (1, 8)	0.40740123733358447
  (1, 12)	0.28986933576883284
  (1, 4)	0.28986933576883284
  (1, 10)	0.28986933576883284
  (1, 2)	0.28986933576883284